<div class="text-center">

  <p style="margin-bottom: 0px!important;" class="font-weight-bold">E-mail:</p>

  <p style="margin-bottom: 0px!important;" class="pb-4">contacto@urologochiapas.com</p>

  <p style="margin-bottom: 0px!important;" class="font-weight-bold">Teléfonos:</p>

  <p style="margin-bottom: 0px!important;">(961) 617 5048</p>

  <p style="margin-bottom: 0px!important;" class="font-weight-bold">Celular:</p>

  <p style="margin-bottom: 0px!important;">(961) 318 9186</p>

  <p style="margin-bottom: 0px!important;">(999) 171 8405</p>

</div>
