<div class="jumbotron pt-5 pb-5" style="margin-bottom: 0px!important">

  <div class="container">

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 text-center">

        <h2>SERVICIOS Y PROCEDIMIENTOS</h2>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 text-center">

        <img src="assets/foto_medico/iva-logo.png" alt="Dr. Sergio Iván Acosta Morales" class="img-fluid" width="40%">

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">

        <p class="lead text-justify">El Dr. Sergio Iván Acosta Morales proporciona los mejores servicios personalizados de un médico especialista en Urología, porque brinda un trato cálido y personalizado durante la revisión y el tratamiento, otorgando el tiempo adecuado a cada uno de los pacientes para atenderlos como se merecen.</p>
        
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 text-center">

        <h4>MÁS SERVICIOS</h4>

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12">

            <ul class="listas">

              <li class="listas-item">Litiasis</li>
    
              <li class="listas-item">Padecimientos Prostáticos</li>
    
              <li class="listas-item">Cáncer en Vías Urinarias</li>
    
              <li class="listas-item">Enfermedades de Transmisión Sexual</li>
    
              <li class="listas-item">Reversión de Vasectomía</li>
    
              <li class="listas-item">Circuncisión</li>
    
            </ul>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">

            <ul class="listas">

              <li class="listas-item">Verrugas en Genitales</li>
    
              <li class="listas-item">Estenosis de Uretral</li>
    
              <li class="listas-item">Infertilidad Masculina</li>
    
              <li class="listas-item">Incontinencia Urinaria</li>
    
              <li class="listas-item">Vasectomía sin bisturí</li>
    
              <li class="listas-item">Consulta General</li>
    
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
