<div class="container-fluid p-5">

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12">

      <img src="assets/foto_medico/ivan3.jpg" class="img-fluid rounded-circle" alt="Dr. Sergio Iván Acosta Morales">

    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 mt-5">

      <h2 class="pb-3">Dr. Sergio Iván Acosta Morales</h2>

      <p class="lead text-justify">Egresado de la Lic. en Medicina en la Universidad Autónoma Metropolitana, Cirugía General en Hospital Español de México / Universidad Nacional Autónoma de México, Urología en CMN Sureste IMSS en Yucatán / Universidad Autónoma de Yucatán, Rotación Internacional en Fundación Puigvert en Barcelona España y Certificado por el Consejo Nacional Mexicano de Urología.</p>

    </div>

  </div>

</div>
