<div class="jumbotron" style="margin-bottom: 0px!important">

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12 col-12">

      <img src="assets/foto_medico/iva-logo.png" class="img-fluid img-circle" alt="Dr. Sergio Iván Acosta Morales">
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-12">

      <h1>CUIDE SU SALUD</h1>

      <p class="lead">CON LA SALUD PREVENTIVA.</p>

      <hr class="my-4">

      <p class="lead text-justify">La urología es la especialidad médico quirúrgica que se ocupa del estudio, diagnóstico y tratamiento de las enfermedades que involucran al aparato genitourinario masculino y urinario femenino.</p>

      <a class="btn btn-primary btn-lg" routerLink="/servicios" role="button">Servicios</a>

    </div>

  </div>
  
</div>
