<app-seccion [parrafo]="parrafo" [footer]="footer" [link]="link"></app-seccion>

<div class="jumbotron" style="margin-bottom: 0px!important;">

  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">

        <p class="font-weight-bold">Acuda directamente a:</p>

        <app-informacion></app-informacion>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">

        <app-telemail></app-telemail>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">

        <app-formapago></app-formapago>
        
      </div>

    </div>

  </div>

</div>

<div class="container pt-5 pb-5">

  <app-formcontacto></app-formcontacto>

</div>
