<footer class="footer bg-urologia text-white pb-3 pt-3">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 centrar-sinCol">

        <img src="../../../assets/iconos/logo.png" class="img-fluid" width="20%">

        <h2>Dr. Sergio Iván Acosta Morales</h2>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 p-5">

        <app-direccion [mostrar]="mostrar"></app-direccion>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">

        <app-mapa></app-mapa>

      </div>

    </div>

    <div class="col-lg-12 text-center">

      <span>Urología Chiapas 2019&reg;</span>

    </div>

  </div>

</footer>
